{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "react",
    "stage-2"
  ],
  "env": {
    "development": {
      "plugins": "react-hot-loader/babel"
    },
    "test": {
      "presets": [
        "env",
        "react",
        "stage-2",
      ],
      "plugins": ["transform-es2015-modules-commonjs", "transform-decorators-legacy"]
    }
  },
  "plugins": [
    "transform-decorators-legacy",
    "transform-runtime",
    "lodash",
    ["import", { "libraryName": "antd", "style": true }]
  ]
}
